.page {
	margin: 0 auto;
	padding: 0;
	min-width: 320px;

	font-family: 'Montserrat', Arial, sans-serif;
	color: rgba(31, 32, 65, 1);

	&__typography-inner {
		padding-top: 145px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}