doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		//- OPEN GRAPH ДЛЯ СОЦСЕТЕЙ
		include ../blocks/opengraph/opengraph.pug
		title TOXIN
		link(rel="icon" href="#" type="image/png" sizes="32x32")
		link(rel='preconnect' href='https://fonts.gstatic.com')

		link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap' rel='stylesheet')
		link(rel='preconnect' href='https://fonts.gstatic.com')

		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')

		link(rel="stylesheet" href="style.css")
	body.page-typography
		div.container
			div.page-typography__inner
				section.colors
					div.colors__item
						div.colors__item-color.colors__item-color--shade100
						p.colors__item-description
							span.colors__description-name Dark Shade 100%
							span.colors__description-number #1F2041

					div.colors__item
						div.colors__item-color.colors__item-color--shade75
						p.colors__item-description
							span.colors__description-name Dark Shade 75%
							span.colors__description-number #1F2041

					div.colors__item
						div.colors__item-color.colors__item-color--shade50
						p.colors__item-description
							span.colors__description-name Dark Shade 50%
							span.colors__description-number #1F2041

					div.colors__item
						div.colors__item-color.colors__item-color--shade25
						p.colors__item-description
							span.colors__description-name Dark Shade 25%
							span.colors__description-number #1F2041

					div.colors__item
						div.colors__item-color.colors__item-color--shade5
						p.colors__item-description
							span.colors__description-name Dark Shade 5%
							span.colors__description-number #1F2041

					div.colors__item
						div.colors__item-color.colors__item-color--purple
						p.colors__item-description
							span.colors__description-name Purple
							span.colors__description-number #BC9CFF

					div.colors__item
						div.colors__item-color.colors__item-color--green
						p.colors__item-description
							span.colors__description-name Green
							span.colors__description-number #6FCF97
				section.fonts
					div.fonts__item
						h1.fonts__title.fonts__title--h1 H1
						p.fonts__description.fonts__description--h1 This one is the sub-section or widget title
					div.fonts__item
						h2.fonts__title.fonts__title--h2 H2
						p.fonts__description.fonts__description--h2 Next one is the item title inside widgets
					div.fonts__item
						h3.fonts__title.fonts__title--h3 H3
						p.fonts__description.fonts__description--h3 This is a label or CTA text
					div.fonts__item
						div.fonts__title.fonts__title--body Body
						p.fonts__description.fonts__description--body This is the body text which is used for most of the design, like paragraphs, lists, etc.