doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		//- OPEN GRAPH ДЛЯ СОЦСЕТЕЙ
		include ../blocks/opengraph/opengraph.pug
		title Toxin
		link(rel="icon" href="#" type="image/png" sizes="32x32")
		link(rel='preconnect' href='https://fonts.gstatic.com')

		link(href='https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap' rel='stylesheet')
		link(rel='preconnect' href='https://fonts.gstatic.com')

		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap' rel='stylesheet')

		link(rel="stylesheet" href="style.css")
	body.page
		header.main-header
			div.container
				div.main-header__inner
					a.logo(href="#")
						img.logo__icon(src="img/logo.svg" alt="Логотип Toxin")
					nav.main-nav
						ul.main-menu
							li.main-menu__item
								a.main-menu__link(href="#") О нас
							li.main-menu__item
								a.main-menu__link.main-menu__link--arrow(href="#") Услуги
							li.main-menu__item
								a.main-menu__link(href="#") Вакансии
							li.main-menu__item
								a.main-menu__link(href="#") Новости
							li.main-menu__item
								a.main-menu__link.main-menu__link--arrow(href="#") Соглашения
							li.main-menu__item
								a.main-menu__link.button.button--enter(href="#") Войти
							li.main-menu__item
								a.main-menu__link.button.button--registration(href="#") Зарегистрироваться

		main.page__main
			div.container
				div.page__main-inner
					h1.visually-hidden Поиск номеров в отелях
					div.page__form
						form.search-form
							div.search-form__inner
								h2.search-form__title Найдём номера под ваши пожелания
								div.date-group
									div.date-group__item
										label.date-group__label(for="input-arrival") Прибытие
										input.input-text.input-text--date(type="text" id="input-arrival" placeholder="дд.мм.гггг")
										button.date-group__button(type="button") Открыть календарь
									div.date-group__item
										label.date-group__label(for="input-departure") Выезд
										input.input-text.input-text--date(type="text" id="input-departure" placeholder="дд.мм.гггг")
										button.date-group__button(type="button") Открыть календарь
								div.search-form__guests
									label.search-form__label Гости
									input.input-text.input-text--guests
								button.search-form__button.button.button--search Подобрать номер

					p.page__main-title Лучшие номера для вашей работы, отдыха и просто вдохновения

		footer.main-footer
			div.main-footer__top
				div.container
					div.main-footer__top-inner
						div.main-footer__logo-group
							a.main-footer__logo.logo(href="#")
								img.logo__icon(src="img/logo.svg" alt="Логотип Toxin")
							p.main-footer__logo-description Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

						div.main-footer__group-item
							h3.main-footer__title Навигация
							ul.main-footer__list
								li.main-footer__list-item О нас
								li.main-footer__list-item Новости
								li.main-footer__list-item Служба поддержки
								li.main-footer__list-item Услуги

						div.main-footer__group-item
							h3.main-footer__title О нас
							ul.main-footer__list
								li.main-footer__list-item О сервисе
								li.main-footer__list-item Наша команда
								li.main-footer__list-item Вакансии
								li.main-footer__list-item Инвесторы

						div.main-footer__group-item
							h3.main-footer__title Служба поддержки
							ul.main-footer__list
								li.main-footer__list-item Соглашения
								li.main-footer__list-item Сообщества
								li.main-footer__list-item Связь с нами

						div.main-footer__subscribe-group
							h3.main-footer__title Подписка
							p.main-footer__subscribe-description Получайте специальные предложения и новости сервиса
							div.main-footer__input-text
								label.main-footer__label.visually-hidden(for="input-subscibe") Введите Email
								input.input-text.input-text--subscribe(type="text" id="input-subscibe" placeholder="Email")
			div.main-footer__bottom
				div.container
					div.main-footer__bottom-inner
						p.copyright Copyright © 2018 Toxin отель. Все права зачищены.
						ul.social
							li.social__item
								a.social__link.social__link--twitter(href="#") Логотип Twitter
							li.social__item
								a.social__link.social__link--facebook(href="#") Логотип Facebook
							li.social__item
								a.social__link.social__link--instagram(href="#") Логотип Instagram